body {
	padding-top: 70px;
	font-family: 'Raleway', sans-serif;
	background-color: #8EC1F3;
}

.just {
	text-justify: auto;
}

.textright {
	text-align: right;
}

.textcenter {
	text-align: center;
}

.huge {
	font-size: 9em;
}

.lesshuge {
	font-size: 2.5em;
}

p.whitetext {
	color: white;
}

h3.whitetext {
	color: white;
}

img.pop{
	box-shadow: 4px 4px 10px #888888;
	margin-top: 5px;
}

@media screen and (min-width: 992px) {
	[class="space"] {
		min-height: 85px;
	}
}

@media screen and (max-width: 991px) {
	[class="space"] {
		min-height: 160px;
	}
}

@media screen and (max-width: 767px) {
	[class="space"] {
		min-height: 325px;
	}
}

.spacer {
	height: 25px;
}

.bkg1 {
	background-image: url("../img/bluepaint.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 100%;
	height: 700px;
}

.bkg2 {
	background-image: url("../img/paintbuckets.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 100%;
	height: 700px;
}

.bkg3 {
	background-image: url("../img/paintroller.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 100%;
	height: 700px;
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}